<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {{!-- 把局部樣版內容 index.hbs 放在這裡顯示 --}}
  {{{body}}} 

</body>
</html>